body {
    background-color: #B785D5;
    margin-left: 20px;

}
.heading {
    font-size: 30px;
}
.first {
    text-align: center;
}
.firsthead {
    text-align: center;
    font-size: 40px;
    color: #4B1B31;
    position: relative;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}
  
  @keyframes slide {
    0%   {color:#4B1B31; font-size: 40px;}
    25%  {color:#9C3040; font-size: 50px;}
    50%  {color:#9c5c50; font-size: 55px;}
    75%  {color:#9C3040; font-size: 50px;}
    100% {color:#4B1B31; font-size: 40px;}
  }